<footer class="page-footer font-small bg-secondary text-white mt-5>
  <div class="container-fluid text-center text-md-left">
    <div class="row p-3">
        <div class="col-md-6 mt-md-0 pl-3">
          <h5 class="text-uppercase">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
          </h5>
          <p class="font-weight-light">{{- site.description | escape -}}</p>
          <p>
            {%- if site.email -%}
              <a class="u-email text-info" href="mailto:{{ site.email }}">{{ site.email }}</a>
            {%- endif -%}
          </p>
        </div>

        <!--<hr class="clearfix w-100 d-md-none pb-3">-->
        
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Social Links</h5>

          <!--{%- include social.html -%}-->
          <ul class="list-inline">
              {%- if social.github -%}
                <li class="list-inline-item">
                  <a href="https://github.com/{{ social.github | cgi_escape | escape }}" 
                      title="{{ social.github | escape }}">
                      <i class="fa fa-github-square" style="font-size: 48px; color: white;"></i>
                  </a>
                </li>
              {%- endif -%}
              {%- if social.twitter -%}
                <li class="list-inline-item">
                  <a href="https://twitter.com/{{ social.twitter | cgi_escape | escape }}" 
                    title="{{ social.twitter | escape }}">
                      <i class="fa fa-twitter-square" style="font-size: 48px; color: white;"></i>
                  </a>
                </li>
              {%- endif -%}
          </ul>
          
        </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a class="text-info" href="https://alexiusacademia.github.io"> Alexius Academia</a>
    </div>
    <!-- Copyright -->
</footer>
