---
layout: default
---
<div class="row">
  <div class="col-md-3 col-xs-12 text-center">
    <img src="{{ page.photo }}" width="180" class="profile-pic"/>
  </div>
  <div class="col-md-9 col-xs-12">
    <h1 class="align-middle">{{ page.name }}</h1> <span class="author-position">({{ page.position }})</span>
    <span>
      {% if page.facebook %}
        <a href="https://facebook.com/{{page.facebook}}"><i class="fa fa-facebook-square" style="font-size: 2em;"></i></a>
      {% endif %}
      {% if page.twitter %}
        <a href="https://twitter.com/{{page.twitter}}"><i class="fa fa-twitter-square" style="font-size: 2em;"></i></a>
      {% endif %}
      {% if page.instagram %}
        <a href="https://www.instagram.com/{{page.instagram}}"><i class="fa fa-instagram" style="font-size: 2em;"></i></a>
      {% endif %}
      {% if page.github %}
        <a href="https://www.github.com/{{page.github}}"><i class="fa fa-github-square" style="font-size: 2em;"></i></a>
      {% endif %}
    </span>
  </div>
</div>

<hr>

<div class="author-description">
{{ content }}
</div>

<h2>Entries</h2>
<ol>
  {% assign filtered_posts = site.posts | where: 'authors', page.short_name %}
  {% for post in filtered_posts %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ol>