<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <!-- Facebook comment plugin -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3&appId=1349917938486723&autoLogAppEvents=1"></script>
    <!-- Facebook like plugin -->
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3&appId=1349917938486723&autoLogAppEvents=1"></script>


    {%- include header.html -%}

    <main class="container mt-3">
        {{ content }}
    </main>

    {%- include footer.html -%}
    <script id="dsq-count-scr" src="//alexgh.disqus.com/count.js" async></script>
    <script src="{{ "/assets/js/jquery-3.4.1.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/popper.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/bootstrap.min.js" | relative_url}}"></script>
  </body>

</html>
