---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <div class="row">
      {%- for post in site.posts -%}
        
          {%- if post.featured -%}
            <div class="col-md-6 col-xs-12">
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <div class="card mb-2">
                  <div class="card-header">
                      <h5>{{ post.title }}</h5>
                      <span class="text-muted">{{ post.date | date: date_format }}</span>
                  </div>
                  
                  <div class="card-body">
                    <p>
                      {%- if site.show_excerpts -%}
                        {{ post.excerpt | truncate: 156 }}
                      {%- endif -%}
                    </p>
                    <a class="btn btn-outline-info" href="{{ post.url | relative_url }}">Read More</a>
                  </div>
                </div>
            </div>
          {%- endif -%}
        
      {%- endfor -%}
    </div>

  {%- endif -%}

</div>
